.caixa
{
    background-color: #9400D3;
}

.titulo
{
    color: #ffffff !important;
    font-weight: bold !important;
}

.botao
{
    border-color: #ffffff !important;
    background-color: #9400D3;
    color: #ffffff !important;
}

.postagens
{
    background-color: #ffffff;
}