.box1
{
    background-color: #25a00a !important;
    height: 120px;
}

.box2
{
    background-color: #f16203 !important;
    height: 60px;
}

.redes
{
    font-size: 60px !important;
    color: #ffffff;
}

.text
{
    color: #ffffff;
}